MORALIS_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJub25jZSI6ImQ1ZDU2YjU1LWU4NzItNDQyMi1hOGNkLTJjMTNmNGM0MTc3ZSIsIm9yZ0lkIjoiMzUyNTYxIiwidXNlcklkIjoiMzYyMzY4IiwidHlwZUlkIjoiY2YwZTY3YjMtNjM4Zi00MWY4LWI1NGMtM2E3NzA1N2RkMjAxIiwidHlwZSI6IlBST0pFQ1QiLCJpYXQiOjE2OTE3MzA0OTgsImV4cCI6NDg0NzQ5MDQ5OH0.jf9CMYC3GcnPc4BFhiCoA4i4cUxG0YVWkQNDuTO6yyk"
